[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	default = simple
[alias]
	oneline = log --oneline --decorate-refs-exclude=refs/tags
	unstage = restore --staged .
[commit]
	template = ~/.git-templates/commit.template
